/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    max-width: 950px;
    font-size: 14px;
    margin: 40px auto;
    padding: 40px;
    background: #f9f9f9;
    color: #404040;
    line-height: 1.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: white;
}

h3 {
    font-variant: small-caps;
}

.shaded-image {                                                                                                                     
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
    margin: 10px 20px 20px 20px;
}  

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a {
    color: #003380;
    text-decoration: none;
}

.award::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('images/trophy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-right: 8px;
}

.award {
    font-weight: bold;
    color: #990000;
}
