body {
	font-size: 16px;
	font-family: 'Courier New';
	color: black;
}

h1 {
	font-size: 35px;
	font-family: 'Courier New';
	margin-left: 550px;
	color: #003380;	
}

h2 {
	font-size: 30px;
	font-family: 'Courier';
	text-align: left;
	color: black;
}

h3 {
	font-size: 25px;
	font-family: 'Courier';
	text-align: left;
	color: black;
}

<style>
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>

ul {
    line-height: 20px;
    list-style: square;
}

li:before {
    color: green;
}

img {
    display: inline-block;
}

img.border {
}

#menu-wrapper {
    overflow: hidden;
    height: 45px;
    width: 1225px;
    border-top: 1px solid #003380;
    border-bottom: 1px solid #003380; 
    margin-left: 50px;
    margin-right: 50px;
}

#menu {
    overflow: hidden;
}

#menu ul{
    text-decoration: none;
    list-style: none;    
}

#menu li {
    display: inline-block;    
    padding: 0px 65px 0px 30px;
}

#menu a {
    text-transform: uppercase;
    color: gray;
}

#menu a:hover {
    color: #003380;
}

#fullpage {
    width: 1225px;
}

#article {
    margin: 30px 100px 0px 100px;
    text-align: justify;    
    line-height: 25px;
    width: 1100px;
}

#article h3 {
    color: #003380;
}

#article li{
    line-height: 25px;
}

#leftarticle{
    margin:30px 20px 0px 100px;
    width: 750px;
    text-align: justify;
    line-height: 25px;
    float: left; 
}

#leftarticle h3 {
    color: #003380;
}


#recentarticle{
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-left:30px;
}

#recentarticle h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    color: #003380;
}

#recentarticle li {
    line-height: 20px;
}

#footer {
    overflow: hidden;
    width: 1225px;
    border-top: 1px solid #003380;
    margin: 30px 10px 30px 55px;
    text-align: center;
}


